<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\path\to\nlog-internal.log">

    <targets>
        <!-- Логи в консоль -->
        <target xsi:type="ColoredConsole"
                name="console"
                layout="${longdate} ${level:uppercase=true} ${message}" />

        <!-- Логи в файл в папке с бинарным файлом -->
        <target xsi:type="File"
                name="file"
                fileName="${basedir}/${shortdate}.log"
                layout="${longdate} ${level:uppercase=true} ${message}" />
    </targets>

    <rules>
        <!-- Правило для записи в консоль -->
        <logger name="*" minlevel="Trace" writeTo="console" />

        <!-- Правило для записи в файл -->
        <logger name="*" minlevel="Trace" writeTo="file" />
    </rules>
</nlog>
